<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>727256817472-5ce4bs6iscma3012ll7ab1d34unk2u49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727256817472-5ce4bs6iscma3012ll7ab1d34unk2u49</string>
	<key>API_KEY</key>
	<string>AIzaSyD02RhYT84RX4YyuBqrf-P_3jv-IgnnzNk</string>
	<key>GCM_SENDER_ID</key>
	<string>727256817472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DmcAug17.Milaap</string>
	<key>PROJECT_ID</key>
	<string>meetups-1516199937737</string>
	<key>STORAGE_BUCKET</key>
	<string>meetups-1516199937737.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727256817472:ios:10fc27831b5bf7b0</string>
	<key>DATABASE_URL</key>
	<string>https://meetups-1516199937737.firebaseio.com</string>
</dict>
</plist>